{% extends "base.html" %}

{% block title %}Receipt #{{ payment.receipt_number }}{% endblock %}
{% block header %}Payment Receipt{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-6">
                <h4>School Name</h4>
                <p>123 School Street<br>City, Country</p>
            </div>
            <div class="col-md-6 text-end">
                <h4>Receipt #{{ payment.receipt_number }}</h4>
                <p>Date: {{ payment.payment_date }}<br>
                Printed: {{ current_time }}</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-8">
                <h5>Student Information</h5>
                <p>
                    <strong>Name:</strong> {{ payment.student_name }}<br>
                    <strong>Admission No:</strong> {{ payment.admission_no }}<br>
                    <strong>Form/Class:</strong> {{ payment.form }}
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="data:image/png;base64,{{ qr_code }}" class="receipt-qr img-fluid" alt="QR Code">
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ payment.term_name }} Fee</td>
                    <td>{{ "%.2f"|format(payment.amount_paid) }}</td>
                </tr>
                <tr>
                    <td><strong>Total Paid</strong></td>
                    <td><strong>{{ "%.2f"|format(payment.amount_paid) }}</strong></td>
                </tr>
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Payment Summary</h5>
                <p>
                    <strong>Total Fees:</strong> {{ "%.2f"|format(payment.term_amount) }}<br>
                    <strong>Total Paid:</strong> {{ "%.2f"|format(total_paid) }}<br>
                    <strong>Outstanding Balance:</strong> {{ "%.2f"|format(outstanding_balance) }}
                </p>
            </div>
            <div class="col-md-6 text-end">
                <p class="mt-4">
                    <strong>Received by:</strong> ________________________
                </p>
                <a href="{{ url_for('generate_receipt_pdf', payment_id=payment.id) }}" class="btn btn-primary">
                    <i class="bi bi-download"></i> Download PDF
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
